* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.container {
	perspective: 800px;
}
.element {
	background-color: rgba(0, 0, 0, .5);
	transform-style: preserve-3d;
	transform: rotateY(50deg);
	padding: 50px;
}
.element img {
	transform-origin: top;
	animation: animate 5s infinite;
	width: 400px;
	height: 300px;
	object-fit: cover;
}
@keyframes animate {
	0%, 100% {
		transform: rotateX(-30deg);
	}
	50% {
		transform: rotateX(30deg);
	}
}
